#menuIcon{
	height:40px;
	width:40px;
	margin-left:1px;
	text-decoration:none;
}

.pageHeader{
	padding-left:1px;
}

#dashboardContent, #aboutContent, #contactContent{
	height:100%;
}
 
#brandLogo{
	height:120;
	width:110;
	margin-top:5px;
}