  body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
  }
  h3, h4 {
    margin: 1px 0 3px 0;
    letter-spacing: 5px;      
    font-size: 20px;
    color: #111;
  }
  .container {
    padding: 80px 10px;
  }
  .carousel-inner img {
    /*  -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
  }
  .carousel-caption h3 {
    color: #fff !important;
  }
  #mobileViewMenu{
    display: none;
  }
  #eco_trade_name{
      display: none; 
    }
    #myCarousel{
      margin-top:15%;
    }
  @media (max-width: 500px) {
    .carousel-caption, #desktopViewMenu{
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
     #mobileViewMenu{
      display:block;
    }
    #myCarousel{
      margin-top:40%;
    }
    #eco_trade_name{
      display: block; 
    }
    #companyLogo,#carouselLeftNavigateIcon,#carouselRightNavigateIcon{
      display: none; 
    }
    .carousel-inner img {
     /*-webkit-filter: grayscale(90%);
      filter: grayscale(90%); /* make all photos black and white */
      /*margin-top:25% !important;*/
      height:100%;
      width: 100%; /* Set width to 100% */
      margin: auto;
    }
    .navbar li a{ 
      color: #2d2d30 !important;
      background-color: #fff !important;
    }
   .moveTop{
      position: fixed;
      z-index: 1000;
      bottom: 0;
      right:10% !important;
      height: 80px;
      width: 100%;
    }
    .mobileViewProductText{
      font-size: 10px !important;      
    }
    #googleMap{
      width:100%;
    }
  }
  .bg-1{
      background-image: url("../images/certificates_bg.jpg");
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .modal-header, h4, .close {
      background-color: #ABD303;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-image: url("../images/plastic_banner1.jpg");
      background-repeat:no-repeat;  
      background-size:cover;
      border: 0;
      font-size: 11px !important;
      font-weight: bold;
      letter-spacing: 3px;
     /*opacity: 0.8;*/
      border-bottom: 1px solid #c6c6c6;
      height:38%;
      width:100%;
  }
  .navbar li a{ 
      color: #2d2d30 !important;
      background-color: none;
  }
  .navbar-nav li a:hover {
      /*color: #fff !important;
      background-color: #2d2d30 !important;*/
      border-bottom: 3px solid #2d2d30;
  }

  .navbar-nav li a:active{
      /*color: #fff !important;
      background-color: #2d2d30 !important;*/
      border-bottom: 3px solid lightblue;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
    color: #000 !important;
  }
  .dropdown-menu li a:hover {
    background-color: #2d2d30 !important;
  }
  footer {
    background-image: url("../images/grass_footer.png");
    background-size: cover;
    color: #ABD303;
    padding: 20px;
  }
  footer a {
    color: #f5f5f5;
    max-width:10px !important;
  }
  .form-control {
    border-radius: 0;
  }
  /*textarea {
    resize: none;
  }
  li{
    background-color: #ABD303;
    margin-right: 2px;
  }
  #contact{
    background-image: url("../images/tree.png");
    background-size: cover;
  }*/
/* Hidden based on hidden contents*/
  /*.nav-tabs li a {
      color: #777;
  } */

  /*----------------------------------- overwritten css -------------------------------------------------*/

  #myNavbar{
    /*margin-top:5%;*/
    overflow-y:hidden;
  }

  
  .logo{
    height:110px;
    width:90px;
    /*-webkit-animation: spin1 7s infinite linear;
    -moz-animation: spin1 7s infinite linear;
    -o-animation: spin1 7s infinite linear;
    -ms-animation: spin1 7s infinite linear;
    animation: spin1 7s infinite linear;*/
    display: block;
  }

  @-webkit-keyframes spin1 {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg);}
  }


  .rotateImg {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .rotateImg:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
} 

#productBody{
  background-image: url("../images/polygon.jpg");
  height:85%;
  opacity:0.1;
}
.panel{
  border: 1px solid #ccc;
}
.panel:hover{
  cursor: pointer;
}
.img-responsive:hover{
  opacity: 0.5;
}
.panel-heading{
  background-color: #dddbdb;
  border-bottom: 1px solid #ccc;
}
img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


.imageShadow {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #2d2d30;
  opacity: 0.7;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.imageShadow:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.moveTop{
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right:3%;
  height: 80px;
  width: 100%;
}
